<!Doctype html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="favicon.ico">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>贴吧 Lite | 极简贴吧客户端</title>
    <link rel="stylesheet" href="https://unpkg.zhimg.com/muse-ui/dist/muse-ui.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/material-design-icons/3.0.1/iconfont/material-icons.css">
    <link rel="stylesheet" href="static/css/style.css">
    <script src="https://cdn.bootcss.com/vue/2.6.4/vue.min.js"></script>
    <script src="https://unpkg.zhimg.com/muse-ui/dist/muse-ui.js"></script>
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
</head>

<body>
    <div id="app">
        <div v-if="!loaded" class="loading">
            <mu-circular-progress class="tblite-loading" :size="36" v-if="!loaded"></mu-circular-progress>
        </div>
        <template v-if="loaded">
            <mu-dialog scrollable title="下载" width="600" max-width="80%" :esc-press-close="false" :overlay-close="false"
                :open.sync="openDownload">
                最新{{downloadBeta ? " Beta " : "稳定"}}版：{{downloadBeta ? data.beta.version_name :
                data.stable.version_name}}
                <br />更新日志：<br />
                <div class="update-content" v-html="(downloadBeta ? data.beta.update_content : data.stable.update_content).replaceAll('\r\n', '<br />')"></div>
                <mu-button slot="actions" flat color="primary" @click="closeDownloadDialog">关闭</mu-button>
                <mu-button slot="actions" v-for="info in (downloadBeta ? data.beta.web_disk: data.stable.web_disk)"
                    :href="info.link" z-death="0" flat color="primary" @click="startDownload">{{info.name}}下载</mu-button>
                <mu-button slot="actions" :href="downloadBeta ? data.beta.download_url : data.stable.download_url"
                    z-death="0" color="primary" @click="startDownload">直链下载</mu-button>
            </mu-dialog>
            <mu-appbar title="贴吧 Lite" z-depth="0" style="width: 100%;" color="primary">
                <mu-button target="_blank" slot="right" href="https://jq.qq.com/?_wv=1027&k=5Jgx2w6" flat>加入 QQ 群</mu-button>
            </mu-appbar>
            <div class="main-box">
                <span class="main-title"><span>T</span>ieba <span>L</span>ite</span>
                <span class="main-subtitle">极简的贴吧第三方客户端</span>
                <mu-flex class="main-action" justify-content="center">
                    <mu-button @click="openDownloadDialog(false)" round color="secondary">
                        <mu-icon left value="file_download"></mu-icon>
                        立即下载
                    </mu-button>
                </mu-flex>
                <mu-flex v-if="showBetaDownload()" class="main-action sub" justify-content="center">
                    <mu-button class="main-action-btn" @click="openDownloadDialog(true)" flat color="white">下载 Beta 版</mu-button>
                </mu-flex>
            </div>
            <mu-container class="introduce-grid">
                <mu-row gutter>
                    <mu-col span="12" xl="3" lg="4" md="6">
                        <div class="introduce-grid-cell">
                            <mu-icon class="introduce-grid-icon" size="24" value="cloud_queue"></mu-icon>
                            <div class="content">
                                <div class="title">轻便</div>
                                <div class="subtitle">安装包不到 5 MB，很轻，很快</div>
                            </div>
                        </div>
                    </mu-col>
                    <mu-col span="12" xl="3" lg="4" md="6">
                        <div class="introduce-grid-cell">
                            <mu-icon class="introduce-grid-icon" size="24" value="nature"></mu-icon>
                            <div class="content">
                                <div class="title">简洁</div>
                                <div class="subtitle">去广告、无繁杂，专注于浏览，更简洁</div>
                            </div>
                        </div>
                    </mu-col>
                    <mu-col span="12" xl="3" lg="4" md="6">
                        <div class="introduce-grid-cell">
                            <mu-icon class="introduce-grid-icon" size="24" value="nature_people"></mu-icon>
                            <div class="content">
                                <div class="title">精致</div>
                                <div class="subtitle">采用 Material Design 设计，UI 更精致，小而巧且美</div>
                            </div>
                        </div>
                    </mu-col>
                    <mu-col span="12" xl="3" lg="4" md="6">
                        <div class="introduce-grid-cell">
                            <mu-icon class="introduce-grid-icon" size="24" value="widgets"></mu-icon>
                            <div class="content">
                                <div class="title">全能</div>
                                <div class="subtitle">不仅支持点赞，更有屏蔽、沉浸阅读、一键签到……你想要的，这里都有</div>
                            </div>
                        </div>
                    </mu-col>
                </mu-row>
            </mu-container>
            <mu-container class="donate-list">
                <h3>友情链接</h3>
                <mu-list>
                    <mu-list-item v-for="item in donates" :href="item.link" avatar button :ripple="true">
                        <mu-list-item-action>
                            <mu-avatar>
                                <img :src="item.avatar">
                            </mu-avatar>
                        </mu-list-item-action>
                        <mu-list-item-content>
                            <mu-list-item-title>{{item.title}}</mu-list-item-title>
                            <mu-list-item-sub-title>{{item.content}}</mu-list-item-sub-title>
                        </mu-list-item-content>
                    </mu-list-item>
                </mu-list>
            </mu-container>
            <div class="footer">
                by HuanChengStudio
            </div>
        </template>
    </div>
    <script src="static/js/app/index.min.js"></script>
</body>

</html>