<!Doctype html>
<html>

<head>
    <title>抽奖系统后台</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="https://unpkg.com/muse-ui/dist/muse-ui.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/muse-ui/dist/muse-ui.js"></script>
    <link rel="stylesheet" href="https://cdn.bootcss.com/material-design-icons/3.0.1/iconfont/material-icons.css">
    <script src="static/js/bmob.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/muse-ui-toast/dist/muse-ui-toast.all.css" />
    <script src="https://unpkg.com/muse-ui-toast/dist/muse-ui-toast.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/muse-ui-loading/dist/muse-ui-loading.all.css" />
    <script src="https://unpkg.com/muse-ui-loading/dist/muse-ui-loading.js"></script>
    <link rel="stylesheet" href="static/css/style.css" />
</head>

<body>
    <div id="app">
        <template v-if="isAdmin()">
            <mu-appbar class="header" color="primary">
                抽奖系统后台
                <mu-button href="index.html" icon slot="right">
                    <mu-icon value="home">
                        </my-icon>
                </mu-button>
            </mu-appbar>
            <div class="app-content">
                <mu-container style="margin: 16px auto;">
                    <mu-paper :z-depth="1">
                        <mu-data-table :loading="loading" stripe border :columns="columns" :sort.sync="sort"
                            @sort-change="handleSortChange" :data="list">
                            <template v-if="isAdmin()" slot="expand" slot-scope="prop">
                                <form-edit :data="prop.row" />
                            </template>
                            <template slot-scope="scope">
                                <td>{{scope.row.order}}</td>
                                <td class="is-center">{{scope.row.name}}</td>
                                <td class="is-center">{{scope.row.except ? "是" : "否"}}</td>
                                <td class="is-center">{{scope.row.weight}}</td>
                            </template>
                        </mu-data-table>
                        <mu-flex v-if="isAdmin()" align-items="center" style="padding: 8px;" wrap="wrap">
                            <mu-container style="margin:16px;">
                                <form-edit />
                            </mu-container>
                        </mu-flex>
                    </mu-paper>
                </mu-container>
                <mu-flex justify-content="center" align-items="center" style="padding: 8px;" wrap="wrap">
                    <span class="footer">by HuanChengStudio</span>
                </mu-flex>
            </div>
        </template>
    </div>
    <script src="static/js/app.admin.js"></script>
</body>

</html>